/* Estilos para el contenedor del formulario de registro */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222; /* Color de fondo oscuro */
}

/* Estilos para la tarjeta de registro */
.register-card {
  width: 600px;
}

/* Estilos para el botón de registro */
.btn-primary {
  background-color: #28a745; /* Color verde */
  border-color: #28a745; /* Borde verde */
}

.btn-primary:hover {
  background-color: #218838; /* Color verde oscuro al pasar el ratón */
  border-color: #218838; /* Borde verde oscuro al pasar el ratón */
  transform: translateY(-2px); /* Efecto 3D de elevación */
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3); /* Sombra al elevar */
}

/* Estilos para el texto del enlace */
.card-footer a {
  color: #17a2b8; /* Color azul claro para el enlace */
}

.card-footer a:hover {
  color: #138496; /* Color azul oscuro al pasar el ratón */
}

/* Estilos para el borde de los campos de formulario */
.form-control {
  border-radius: 0; /* Bordes cuadrados */
  background-color: #343a40; /* Color de fondo oscuro */
  color: #ffffff; /* Color del texto */
}

/* Estilos para el texto dentro de los campos de formulario */
.form-control::placeholder {
  color: #ffffff; /* Color del texto de placeholder */
}

/* Estilos para las etiquetas de los campos de formulario */
.form-group label {
  color: #ffffff; /* Color blanco */
}

/* Estilos para el mensaje de error */
.invalid-feedback {
  color: #dc3545; /* Color rojo para los mensajes de error */
}

/* Estilos para el fondo de la tarjeta */
.card {
  background-color: #343a40; /* Color de fondo oscuro */
  border: none; /* Sin borde */
}

/* Estilos para el encabezado de la tarjeta */
.card-header {
  background-color: #212529; /* Color oscuro */
  border-color: #212529; /* Borde oscuro */
}

/* Estilos para el título del encabezado de la tarjeta */
.card-header .card-title {
  color: #ffffff; /* Color blanco */
}

/* Estilos para el cuerpo de la tarjeta */
.card-body {
  padding: 20px; /* Espaciado interior */
}

/* Estilos para el pie de la tarjeta */
.card-footer {
  background-color: #343a40; /* Color de fondo oscuro */
  border-top: none; /* Sin borde superior */
  color: #ffffff; /* Color del texto */
}
