/* Estilos para la lista de productos disponibles */
.container {
  margin-top: 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image {
  height: 200px; /* Altura inicial de la imagen */
  background-size: cover;
  background-position: center;
}

.product-card .card-body {
  padding: 15px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.card-text {
  color: #666;
}

.btn-primary {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #45a049;
}
