/* Estilos para el footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-section {
    flex: 1;
    margin-right: 20px;
  }
  
  .footer-section.about {
    max-width: 250px;
  }
  
  .footer-section.about p {
    font-size: 14px;
    line-height: 1.6;
  }
  
  .footer-section.links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section.links ul li {
    margin-bottom: 10px;
  }
  
  .footer-section.contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .footer-icons {
    display: flex;
  }
  
  .footer-icons a {
    color: #fff;
    margin-right: 10px;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
  }
  