/* header.component.css */

/* Estilos para el navbar */
.navbar {
  display: flex;
  justify-content: center; /* Centrar el navbar horizontalmente */
}

.container {
  width: 100%; /* Ajustar el ancho del contenedor al 100% */
  max-width: 1200px; /* Ancho máximo del contenedor */
}

/* Estilos para los enlaces del menú */
.navbar-nav .nav-link {
  color: #ffffff; /* Color del texto del enlace */
  transition: color 0.3s ease; /* Transición suave para el cambio de color */
  padding: 0.5rem 1rem; /* Espaciado del enlace */
}

.navbar-nav .nav-link:hover {
  color: #ffcc00; /* Color del texto del enlace al pasar el ratón por encima */
  background-color: rgba(255, 255, 255, 0.1); /* Color de fondo del enlace al pasar el ratón por encima */
  border-radius: 5px; /* Bordes redondeados */
}

/* Estilos para el botón de la hamburguesa */
.navbar-toggler {
  border-color: transparent; /* Color del borde transparente */
}

.navbar-toggler:focus {
  outline: none; /* Eliminar el contorno al enfocar el botón */
}
